/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 60%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.mat-row.hovered {
  background: green;
}

.mat-row.highlighted {
  background: green;
}
.highlighted {
  background: gray
}
.hovered {
  background: yellow
}

.mat-mdc-table .mat-mdc-row:hover, .mat-mdc-table .mat-mdc-footer-row:hover {
  background-color: lightgray !important;
  color: white!important;
  padding: 10px!important;
  transition: filter 0.3s!important; /* Add a smooth transition effect */
}

mat-cell.mat-cell,
mat-header-cell.mat-header-cell {
  overflow: visible;
}
