<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<script>
    alert(myDataa);
    console.log(myDataa); 
</script>
<button  id="zzz2" data-info="Some information"  style="z-index: 999;  position: absolute;">sddrrd</button>
<textarea id="zzz1">
</textarea>
<!-- <table>
    <tr>
      <th>Company</th>
      <th>Contact</th>
      <th>Country</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
    </tr>
    <tr>
      <td>Ernst Handel</td>
      <td>Roland Mendel</td>
      <td>Austria</td>
    </tr>
    <tr>
      <td>Island Trading</td>
      <td>Helen Bennett</td>
      <td>UK</td>
    </tr>
    <tr>
      <td>Laughing Bacchus Winecellars</td>
      <td>Yoshi Tannamuri</td>
      <td>Canada</td>
    </tr>
    <tr>
      <td>Magazzini Alimentari Riuniti</td>
      <td>Giovanni Rovelli</td>
      <td>Italy</td>
    </tr>
  </table> -->

    <style>

        /* This class is used for cdkDrag to set its draggable behavior */
        .draggable-dialog {
        cursor: move;
        }



    body, html {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    z-index: 999999999;
    }

    /* Make the div take full size of the screen */
    .full-screen-div {
    position: fixed; /* Fixed positioning to keep it in the viewport */
    top: 0; /* Position it at the top */
    left: 0; /* Position it at the left */
    width: 100vw; /* 100% width of the viewport */
    height: 100vh; /* 100% height of the viewport */
    background-color: #f0f0f0; /* Optional background color */
    }


    .draggable-dialog {
        position: fixed !important;
        z-index: 1000 !important;
        cursor: move;
    }
</style>

<!-- <div  style="width: 700px; height: 733px;">
<button  style="z-index: 9999; background: aqua;" (click)="flg=!flg; flg?closeGrid():modalGrid()"  mat-button>{{ (flg) ? 'open' : 'close' }}</button>
</div> -->

<!-- <pre>
{{this.serv.isDragging}}
    {{serv.startX}}
    {{serv.startY}}
</pre>
 -->

<!-- <div appDraggable>sss</div> -->
<div>
<lib-genGrid2></lib-genGrid2>
</div>

